@model dynamic

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>GameDetails</title>
    <link rel="stylesheet" href="~/css/GameDetail.css" asp-append-version="true" />
</head>
<body>
    <div id="container">
    <h1 id="title1">Game Details</h1>
    
        <div class="parent">
            <div class="div1"><img src="~/img/@Model.ImgNumber" alt="@Model.Title" width="100" height="100"/></div>
            <div class="div2">@Model.ReviewText</div>
            <div class="div3">@Model.Rating / 5</div>
            <div class="div4">
                @if (Model.GameCategories != null && ((List<RapidGames.Models.Category>)Model.GameCategories).Any())
                {
                    <ul>
                        @foreach (var category in (List<RapidGames.Models.Category>)Model.GameCategories)
                        {
                            <li>@category.CategoryName</li>
                        }
                    </ul>
                }
                else
                {
                    <p>This game has no categories listed.</p>
                }
            </div>
        </div>
    
    <div id="btn">
        <button id="GL" onclick="window.location.href='@Url.Action("Index", "Home")'">GameListing</button>
        <button id="ER" onclick="window.location.href='@Url.Action("ReviewSubmission", "ReviewSubmission")'">Edit Review</button>
    </div>
    </div>
</body>
</html>

