@model List<dynamic>

@{
    ViewData["Title"] = "GameList";
}

<link rel="stylesheet" href="~/css/GameListing.css" asp-append-version="true" /> 

<h1 id="title">Game List</h1>

@if (Model != null && Model.Any())
{
    foreach (var game in Model) 
    {
        <section>
            <img src="~/img/@game.ImgNumber" alt="@game.Title" />
            <div class="description">
                <div>@game.Title: @game.ReviewText</div>
                <div>
                    <span class="rating">@game.Rating</span>
                </div>
            </div>
            <div>
                <button id="delete" data-gameid="@game.GameId">Delete</button>
                <button id="info" onclick="window.location.href='@Url.Action("GameDetail", "GameDetail", new { id = game.GameId })'">
                    Info
                </button>
            </div>
        </section>
        <hr />
    }
}
else
{
    <p>No games are currently available in the list. Try adding some via the database!</p>
}